body {
    background-color:#f1f1f1;
}
p{
    font-family: helvetica;
    font-size: 20px;
}
.logo {
    align-items: justify;
    padding-left: 150px;
    padding-right: 30px;
    
}
.container {
    box-shadow: 5px 5px 5px #ccc;
    align-items: center;
    text-align: center;
    padding: 40px 60px;
    border: 1px solid white;
    border-radius: 5px; 
}



/* --------------------adding responsiveness---------------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
    .column {
            width: 100%;
        }
    }
    footer {
        background-color:#f1f1f1;
        font-size: 20px;
    }